<li>@Html.ActionLink("eMembership Data", "GetDataReportParams", "Report", routeValues: null, htmlAttributes: null)</li>
<li>@Html.ActionLink("Summary", "GetSummaryReportParams", "Report", routeValues: null, htmlAttributes: null)</li>
<li><hr /></li>
<li>@Html.ActionLink("Pending Cards", "GetPendingCardsReport", "EMemberRegistration", routeValues: null, htmlAttributes: null)</li>
<li>@Html.ActionLink("Birthday Data", "GetBirthdayReportParams", "Report", routeValues: null, htmlAttributes: null)</li>
<li>@Html.ActionLink("Discard Data", "GetDiscardDataReportParams", "Report", routeValues: null, htmlAttributes: null)</li>
